html body {
  font-family: 'Roboto', sans-serif;
}

.sunrise {
  height: 400px;
  background: rgb(247, 157, 0);
  background:
    radial-gradient(circle at bottom, rgb(255, 255, 0, 1) 10px, rgb(247, 157, 0, .5) 20px, transparent),
    radial-gradient(ellipse 1600px 300px at bottom, rgb(255, 255, 0, 1) 10px, rgb(247, 157, 0, .6) 40px, pink 40%, skyblue 80%, rgb(0, 183, 255));
}

.diagoverlay {
  height: 400px;
  background:
  repeating-linear-gradient(125deg,
  rgb(0, 0, 0, 0.4) 0,
  rgb(0, 0, 0, 0.4) 2px,
  rgb(86, 86, 86, 0.4) 2px,
  rgb(86, 86, 86, 0.4) 4px);
  background-color: cadetblue;
}

.dotsbg {
  background: radial-gradient(chartreuse 30%, transparent 40%);
  background-size: 10px 10px;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.buttontext {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.4);
  padding: 30px;
  text-align: center;
}