html, body {
  overflow-x: hidden;
}

h2:before, h2:after {
  color:darkorange;
}
h2:before {
  content: "\219D   ";
  margin-right: 10px;
}
h2:after {
  content: "   \219C";
  margin-left: 10px;
}

.full-width {
  position: relative; /* child absolute */
  padding: .25rem 10px;
  background: #333;
  background: rgba(0,0,0,.8);
  color: white;
  font-size: 1.125rem;
}
.full-width:before, .full-width:after{
  content: "";
  position: absolute;
  /* fill vertically */
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: darkcyan;
}
.full-width:after {
  left: 100%;
  background: darkorchid;
}

.breadcrumbs a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.breadcrumbs a:before {
    content: "\2551  ";
}
.breadcrumbs a:first-child:before {
    content: "";
}
.breadcrumbs {
  margin-bottom: 1em;
}

.secret:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, explicabo optio fugiat assumenda similique ipsa. Unde consequuntur rerum voluptates debitis corrupti dolor dignissimos soluta qui? Est earum voluptas impedit autem."
}

.outline-container a:hover:after {
  position: relative;
  content: " (" attr(href) ") ";
}

@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  .full-width {
    padding: 0;
  }
}

@media screen and (max-width: 768px){
  .full-width:before, .full-width:after {
    background: #333;
    background: rgba(0,0,0,.8);
  }
}

@media screen and (max-width: 480px){
  .full-width:before, .full-width:after {
    width: 0px;
  }
}