td {
    width: 27px;
}

tr:nth-last-child(n + 7)
td:nth-last-child(n + 9) {
    background-color: darkblue;
    color: darkblue;
    font-size: 0;
}

tr:nth-last-child(2n + 7)
td:nth-last-child(n + 9):after {
    content: '★';
    font-size: 15px;
    color: white;
    position: relative;
    left: 15px;
}

tr:nth-last-child(2n + 8)
td:nth-last-child(n + 9):before {
    content: '★';
    font-size: 15px;
    color: white;
}

tr:nth-child(even)
td {
    background-color: white;
    color: white;
}

tr:nth-child(odd)
td {
    background-color: darkred;
    color: darkred;
}